<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Jake Squire</a>
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="">Summary</a></li>
      <li><a href="">Work History</a></li>
      <li><a href="">Skills</a></li>
      <li><a href="">Volunteering</a></li>
      <li><a href="">Other Interests</a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li><a href="">Summary</a></li>
      <li><a href="">Work History</a></li>
      <li><a href="">Skills</a></li>
      <li><a href="">Volunteering</a></li>
      <li><a href="">Other Interests</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
</nav>