<div class = "page-header">
  <div class = "hero-main">
    <div class = "pic-hero">
      <div class = "pic-supertext-area">
        <h2 class = "pic-supertext quote-text">Jake is ... a handsome guy</h2>
        <h6 class = "pic-supertext quoter">-Mom</h6>
      </div>
    </div>
  </div>
</div>
<div class = "container">
  <div class = "body-content">
    
    <div class = "section-group" id = "summary">

      <div class = "section-header">
        <h2 class = "section-title">Summary</h2>
      </div>

      <div class = "section-content-container">
        <div class = "section-content">
          <div class = "img-box-2x3">
          </div>
        </div>
        <div class = "section-content">
          <p class = "section-text">  This is summary content about myself.  It will probably be my CV or portions of my resume.  Its difficult to know at this point.  I just need text on the page.
          Again this is more text to just help me get an outline of myself.
          </p>
          <br />
          <p class = "section-text">  Actionable insight bootstrapping intuitive pitch deck quantitative vs. qualitative workflow Steve Jobs. User story convergence actionable insight bootstrapping cortado user story viral earned media thinker-maker-doer. Steve Jobs prototype user story pitch deck personas workflow pitch deck ideate waterfall is so 2000 and late integrate unicorn bootstrapping. Earned media food-truck minimum viable product long shadow thinker-maker-doer latte ideate. Iterate responsive integrate pair programming integrate experiential quantitative vs. qualitative co-working pair programming engaging grok driven.
          </p>
        </div>
      </div>

      <div class = "call-to-action">
        <a class="waves-effect waves-light btn go-contact"><i class="material-icons right">email</i>Contact Me</a>
        <a class="waves-effect waves-light btn resume-download"><i class="material-icons right">description</i>Download Resume</a>
      </div>

    </div>

    <div class = "section-group" id = "">

      <div class = "section-header">
        <h2 class = "section-title">
          Section
        </h2>
      </div>

      <div class = "section-content-container">
        <div class = "section-content">
        </div>
        <div class = "section-content">
        </div>
      </div>

    </div>

  </div>
</div>


